{% extends 'masterpage.html' %}
{% block content %}
<div id="app" class="card text-center">
    <div class="card-header title-bar"><b>[[ title ]]</b></div>
    <div class="card-body">
        <div v-bind="all_objects_list">
            {% if all_objects_list %}
            <ol>
                {% for obj in all_objects_list %}
                <li>
                    {{ obj.title }} {{ obj.text }} {{ obj.pub_date }} {{ obj.is_valid }}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
        <form @submit="formSubmit" method="post">
            <label>
                <input type="number" name="input" v-model="identifier" class="text-center">
            </label>
            <div>[[ identifier ]]</div>
            <button class="button success">Submit</button><br>
            <strong>Output:</strong>
        </form>
        <pre v-html="output"></pre>
    </div>
</div>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            title: 'Data retrieved from DB will be available once you\'ve clicked the button below',
            identifier: 0,
            output: ''
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
                let url = "{% url 'data_app:posted' input='1' %}".replace('1', currentObj.identifier);
                axios.post(url)
                    .then( response => {
                        //currentObj.output = response.data['title']+': '+response.data['text']
                        currentObj.output = response
                        console.log(response);
                    })
                    .catch( error => {
                        //alert('Ricevuta risposta, ma con problema...');
                        currentObj.output = error.response;
                        console.log(error);
                    })
                //return false;
            }
        }
    });
</script>
{% endblock %}
